{% extends '_base.twig' %} {% block content %}

<div class="container pt-4">
    <div class="row">
        <div class="col-6 col-md-3 mb-4">
            <div class="card">
                <img class="card-img-top" src="img/narcos-pena.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Pedro Pascal</h4>
                    <h6 class="card-subtitle mb-2 text-muted">As Javier Peña</h6>
                    <p class="card-text">30 episodes, 2015-2017</p>
                    <a href="http://www.imdb.com/name/nm0050959/?ref_=tt_cl_t1" target="_blank" class="card-link"><small>Actor details</small></a>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="card">
                <img class="card-img-top" src="img/narcos-pablo.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Wagner Moura</h4>
                    <h6 class="card-subtitle mb-2 text-muted">As Pablo Escobar</h6>
                    <p class="card-text">20 episodes, 2015-2016</p>
                    <a href="http://www.imdb.com/name/nm0609944/?ref_=tt_cl_t2" target="_blank" class="card-link"><small>Actor details</small></a>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 mb-4">
            <div class="card">
                <img class="card-img-top" src="img/narcos-cop.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Boyd Holbrook</h4>
                    <h6 class="card-subtitle mb-2 text-muted">As Steve Murphy</h6>
                    <p class="card-text">20 episodes, 2015-2016</p>
                    <a href="http://www.imdb.com/name/nm2933542/?ref_=tt_cl_t3" target="_blank" class="card-link"><small>Actor details</small></a>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="card">
                <img class="card-img-top" src="img/narcos-badcop.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Maurice Compte</h4>
                    <h6 class="card-subtitle mb-2 text-muted">As Horacio Carillo</h6>
                    <p class="card-text">20 episodes, 2015-2017</p>
                    <a href="http://www.imdb.com/name/nm0173997/?ref_=ttfc_fc_cl_t18" target="_blank" class="card-link"><small>Actor details</small></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container pt-4">
    <div class="row">
        <div class="col-6 col-md-3 mb-4">
            <div class="card">
                <img class="card-img-top" src="img/narcos-2.png" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Alberto Ammann</h4>
                    <h6 class="card-subtitle mb-2 text-muted">As Pacho Herrera</h6>
                    <p class="card-text">20 episodes, 2015-2017</p>
                    <a href="http://www.imdb.com/name/nm2975962/?ref_=tt_cl_t4" target="_blank"class="card-link"><small>Actor details</small></a>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="card">
                <img class="card-img-top" src="img/narcos-3.png" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Paulina Gaitan</h4>
                    <h6 class="card-subtitle mb-2 text-muted">As Tata Escobar</h6>
                    <p class="card-text">19 episodes, 2015-2016</p>
                    <a href="http://www.imdb.com/name/nm2103508/?ref_=tt_cl_t5" target="_blank" class="card-link"><small>Actor details</small></a>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 mb-4">
            <div class="card">
                <img class="card-img-top" src="img/narcos-1.png" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Damian Alcázer</h4>
                    <h6 class="card-subtitle mb-2 text-muted">As Gilberto Rordíguez</h6>
                    <p class="card-text">17 episodes, 2016-2017</p>
                    <a href="http://www.imdb.com/name/nm0017343/?ref_=tt_cl_t8" target="_blank" class="card-link"><small>Actor details</small></a>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="card">
                <img class="card-img-top" src="img/narcos-4.png" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Joanna Christie</h4>
                    <h6 class="card-subtitle mb-2 text-muted">As Connie Murphy</h6>
                    <p class="card-text">14 episodes, 2015-2016</p>
                    <a href="http://www.imdb.com/name/nm1812459/?ref_=tt_cl_t16" target="_blank" class="card-link"><small>Actor details</small></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container pt-4">
    <div class="row">
        <div class="col-6 col-md-3 mb-4">
            <div class="card">
                <img class="card-img-top" src="img/narcos-6.png" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Stephanie Sigman</h4>
                    <h6 class="card-subtitle mb-2 text-muted">As Valerie Velaz</h6>
                    <p class="card-text">11 episodes, 2015-2016</p>
                    <a href="http://www.imdb.com/name/nm2362713/?ref_=ttfc_fc_cl_t19" target="_blank" class="card-link"><small>Actor details</small></a>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="card">
                <img class="card-img-top" src="img/narcos-5.png" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Andrea Lovido</h4>
                    <h6 class="card-subtitle mb-2 text-muted">As Maria Salazar</h6>
                    <p class="card-text">10 episodes, 2017</p>
                    <a href="http://www.imdb.com/name/nm6062424/?ref_=ttfc_fc_cl_t24" target="_blank" class="card-link"><small>Actor details</small></a>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 mb-4">
            <div class="card">
                <img class="card-img-top" src="img/narcos-gustavo.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Juan Pablo Raba</h4>
                    <h6 class="card-subtitle mb-2 text-muted">As Guastavo Gaviria</h6>
                    <p class="card-text">10 episodes, 2015-2016</p>
                    <a href="http://www.imdb.com/name/nm0704696/?ref_=ttfc_fc_cl_t26" target="_blank" class="card-link"><small>Actor details</small></a>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 mb-4">
            <div class="card text-white bg-primary">
                <img class="card-img-top" src="img/arrow.png" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">And many else...</h4>
                    <p class="card-text"><small>See a full list on IMDB</small></p>
                    <a href="http://www.imdb.com/title/tt2707408/fullcredits?ref_=tt_cl_sm#cast" target="_blank" class="btn btn-dark"><small>See them</small></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}