{% extends '_base.twig' %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="plot mt-4">
                <div class="card text-white bg-dark">
                    <div class="card-header text-uppercase font-weight-bold">
                        plot
                    </div>
                    <div class="card-body">
                        <p class="card-text">Narcos tells the true-life story of the growth and spread of cocaine drug cartels across the globe
                            and attendant efforts of law enforcement to meet them head on in brutal, bloody conflict. It
                            centers around the notorious Colombian cocaine kingpin Pablo Escobar (Wagner Moura) and Steve
                            Murphy (Holbrook), a DEA agent sent to Colombia on a U.S. mission to capture him and ultimately
                            kill him.</p>
                    </div>
                </div>
            </div>
            <div class="awards mt-4">
                <div class="card text-white bg-dark">
                    <div class="card-header text-uppercase font-weight-bold">
                        golden globe nominations 2016
                    </div>
                    <div class="card-body">                        
                        <div class="row">
                            <div class="col-4">
                                <img class="gg-height ml-3" src="img/golden-globe.png" alt="golden globe award">
                            </div>
                            <div class="col-8 mt-3">
                                <div class="list-group-item text-white bg-dark">
                                    <h4 class="card-title">Best Actor – Television Series Drama</h4>
                                    <p class="card-text"><small class="text-muted">For Wagner Moura as Pablo Escobar</small></p>
                                </div>
                                <div class="list-group-item text-white bg-dark">
                                    <h4 class="card-title">Best TV Series – Drama</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card text-white bg-dark mt-4">
                    <div class="card-header text-uppercase font-weight-bold">
                        emmy nominations 2016
                    </div>
                    <div class="card-body">                        
                        <div class="row">
                            <div class="col-4">
                                <img class="gg-height emmy" src="img/emmy.png" alt="golden globe award">
                            </div>
                            <div class="col-8 mt-3">
                                <div class="list-group-item text-white bg-dark">
                                    <h4 class="card-title">Outstanding Single Camera Picture Editing for a Drama Series</h4>
                                    <p class="card-text"><small class="text-muted">For Leo Trombetta</small></p>
                                </div>
                                <div class="list-group-item text-white bg-dark">
                                    <h4 class="card-title">Outstanding Original Main Title Theme Music</h4>
                                    <p class="card-text"><small class="text-muted">For Rodrigo Amarante</small></p>
                                </div>
                                <div class="list-group-item text-white bg-dark">
                                    <h4 class="card-title">Outstanding Main Title Design</h4>
                                    <p class="card-text"><small class="text-muted">For David Badounts, Josh Smith, Tom O'Neill, Nik Kleverov</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="toprated mt-4">
                <div class="card text-white bg-dark">
                    <div class="card-header text-uppercase text-center font-weight-bold">
                        Top-rated episodes
                    </div>
                    <img class="card-img-top" src="img/narcos-toprated.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class="list-group-item text-white bg-dark">
                            <h4 class="card-title">Al Fin Cayó!</h4>
                            <p class="card-text"><small class="text-muted">S02 E10</small></p>
                            <p class="card-text">Javier deals with the repercussions from Judy's interview. Tata tries to convince Pablo to surrender
                                for the sake of his children.</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 94%" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100">94%</div>
                            </div>
                        </div>
                        <div class="list-group-item text-white bg-dark">
                            <h4 class="card-title mt-3">Todos Los Hombres del Presidente</h4>
                            <p class="card-text"><small class="text-muted">S03 E09</small></p>
                            <p class="card-text">David follows his suspicions. Peña is shocked to discover the depth of corruption in the Colombian
                                government. Miguel is sought after once again.</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 94%" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100">94%</div>
                            </div>
                        </div>
                        <div class="list-group-item text-white bg-dark">
                            <h4 class="card-title mt-3">Going Back to Cali</h4>
                            <p class="card-text"><small class="text-muted">SO3 E10</small></p>
                            <p class="card-text">David and Peña are in a race against each other to find Pallomari. Peña makes a serious decision
                                about the future of his career.</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 93%" aria-valuenow="93" aria-valuemin="0" aria-valuemax="100">93%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}