{% extends '_base.twig' %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="card bg-dark text-light myshadow mt-3">
                <div class="card-header text-uppercase">
                    Top-rated reviews
                </div>
                <div class="card-body">
                    <h4 class="card-title">Netflix To The Rescue</h4>
                    <h4><span class="badge badge-primary">282 out of 319 people found this review useful</span></h4>
                    <blockquote class="blockquote mb-0">
                        <p>Incidentally, I saw an ad for Narco on YouTube, and instead of skipping the ads like I normally do,
                            I played this one out because I was genuinely excited for what I was watching. Instantly I jumped
                            onto Netflix and I was not disappointed. This is a truly gripping show, one of the best I've
                            seen this year. The characters and acting are done well and the storyline moves at a fast enough
                            pace to get your adrenalin pumping for the whole episode. My only fear was that it would be too
                            generic of a Crime drama, but those feelings were quickly swept away. This is truly an original
                            and thoroughly planned out TV show with a whole lot of heart.<br> Maybe the best on Netflix at
                            the moment. Narco doesn't disappoint with any aspect of the show. It's exciting and fast paced,
                            but above all, it makes you want to keep coming back for more.</p>
                        <footer class="blockquote-footer">Michael Radny</footer>
                    </blockquote>
                </div>
            </div>
            <div class="card bg-dark text-light myshadow mt-3">
                <div class="card-header text-uppercase">
                    Top-rated reviews
                </div>
                <div class="card-body">
                    <h4 class="card-title">Netflix To The Rescue</h4>
                    <h4><span class="badge badge-primary">170 out of 190 people found this review useful</span></h4>
                    <blockquote class="blockquote mb-0">
                        <p>As a native Colombian, born and raised in Medellin (in 1975) and victim myself of the Pablo Escobar era, I must say that I am pleasantly surprised with the show!!! I thought it was going to be another bad gringo movie about Colombia with lots of mistakes and not even Colombian landscapes in the background but, I WAS WRONG!!!! Very good actors too, I didn't like Escobar accent since it's not real Paisa accent but it's OK; it will go unnoticed to non- native Colombians ;)<br>
                            Good Job Netflix!! Sksjdjdjdufirjfjfifrior difjrirjfjfkririfrjrjrkf. That's all I had to say</p>
                        <footer class="blockquote-footer">katysuarez</footer>
                    </blockquote>
                </div>
            </div>
            <div class="card bg-dark text-light myshadow mt-3">
                <div class="card-header text-uppercase">
                    Top-rated reviews
                </div>
                <div class="card-body">
                    <h4 class="card-title">Netflix To The Rescue</h4>
                    <h4><span class="badge badge-primary">282 out of 319 people found this review useful</span></h4>
                    <blockquote class="blockquote mb-0">
                        <p>Incidentally, I saw an ad for Narco on YouTube, and instead of skipping the ads like I normally do,
                            I played this one out because I was genuinely excited for what I was watching. Instantly I jumped
                            onto Netflix and I was not disappointed. This is a truly gripping show, one of the best I've
                            seen this year. The characters and acting are done well and the storyline moves at a fast enough
                            pace to get your adrenalin pumping for the whole episode. My only fear was that it would be too
                            generic of a Crime drama, but those feelings were quickly swept away. This is truly an original
                            and thoroughly planned out TV show with a whole lot of heart.<br> Maybe the best on Netflix at
                            the moment. Narco doesn't disappoint with any aspect of the show. It's exciting and fast paced,
                            but above all, it makes you want to keep coming back for more.</p>
                        <footer class="blockquote-footer">Michael Radny</footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>







{% endblock %}