body {
    background: black url('img/narcos-background.jpg') center center/cover fixed;
}
.body_width {
    max-width: 1200px;
    margin: 0 auto;
}
.neg-t-margin {
    margin-top: - 1em;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;;
    .name {
        img {
            flex-basis: 66%;
            height: 200px;
            width: auto;
        }
    }
    .character_image {
        img {
            flex-basis: 33%;
            height: 300px;
            width: auto;
        }
    }
}

.basic {
    display: flex;
    justify-content: space-between;
    .poster {
        .poster_image {
            img {
                width: 150px;
            }
        }
    }
    .about {
        display: flex;
        flex-direction: column;
    }
}

.genre,
.directory,
.scenario,
.releases {
    display: flex;
    align-items: baseline;
}

.progress_bar {
    width: 100px;
}

.ratings {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .imdb {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .progress_bar {
            align-self: center;
        }
    }
    .rotten {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .progress_bar {
            align-self: center;
        }
    }
    .csfd {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .progress_bar {
            align-self: center;
        }
    }
    .metascore {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .progress_bar {
            align-self: center;
        }
    }
}
.navigation {
    display: flex;
    justify-content: space-between;
    .series,
    .actors,
    .reviews,
    .gallery,
    .home {
        background: url('img/blood.png') center/cover;
        padding: 60PX;
        &:hover {
        background: url('img/blood_hover.png') center/cover;
        padding: 60PX;  
        }
        &:active {
        background: url('img/blood_hover.png') center/cover;
        padding: 60PX;
        }
        a {
            text-decoration: none;
            color: white;
        }
    }
    .home {
        order: -1;
    }
}
.gg-height {
    height: 180px;
}
.emmy {
    height: 330px;
}
// .contentback {
//     background: rgba(234, 236, 238, 0.82)
// }